body, html {
    height: 100%;
}
.bg {
    background-image: url("/resources/img/no_image_found.png");

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
